# ROS related files
log/
build/
install/

# Unity related stuff
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Latex stuff
*.log
*.aux
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.out

# misc stuff
.vscode/