<?xml version="1.0"?>
<robot name="hazmat_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define Materials -->
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <!-- Central Frame (Base + Odometry) -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.3 0.3 0.1"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  
  <!-- Camera Frame -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  
  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <link name="scan_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- Base footprint -->
  <link name="base_footprint" />

  <!-- Joint: Base (Fixed) -->
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.035" rpy="0 0 0"/>
  </joint>
  
  <!-- Joint: Camera (Fixed) -->
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.07 0 0.09" rpy="0 0 0"/>
  </joint>

  <!-- Joint: IMU (Fixed) -->
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.062 -0.038 0.089" rpy="3.142 1.571 0"/>
  </joint>
  
  <!-- Joint: Lidar (Fixed) -->
  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="scan_link"/>
    <origin xyz="0.06 0 0.01" rpy="0 0 -1.571"/>
  </joint>
</robot>